<div class="container">
    <div class="bg col-md-12 col-md-offset-1">
        <div class="row">



                     <!--//= content/derevo.html -->
                     <!--//= content/prof.html-->
                   <!--//= content/rabitca.html -->
                    <!--//= content/kirpich.html -->
                   <!--//= content/price.html -->
                     //= content/portfolio.html
                    <!--//= content/contact.html-->
                    <!--//= content/main.html-->



        </div>
    </div>
</div>