<div class="container">
    <div class="bg col-md-12 col-md-offset-1">
        <div class="row">
            <div class="col-md-4">
                <!--<ul>-->
                    <!--<li><a href='derevo.html'>Деревянные</a></li>-->
                    <!--<li><a href='prof.html'>Профнастил</a></li>-->
                    <!--<li><a href='rabitca.html'>Рабица</a></li>-->
                    <!--<li><a href='kirpich.html'>Кирпич</a></li>-->
                <!--</ul>-->

                <h2>НАШИ РЕКВИЗИТЫ:</h2>
                <p><b>ООО «Монтажспецстрой»</b><br>
                    Адрес юридический: 105005, г. Москва, Лефортовский пер., д. 4, стр.1
                </p>
                <p>
                    Адрес фактический: 125459, г. Москва, Походный пр. д. 23 оф.5
                </p>
                <p>
                    Тел./факс: +7(495)740-95-13
                </p>
                <p>
                    ОГРН 1127746394984
                </p>
                <p>ИНН 7701958186,
                    КПП 770101001
                </p>
                <p>р/с  40702810600000025061
                </p>

            </div>


                     <!--//= content/derevo.html -->
                     <!--//= content/prof.html-->
                   <!--//= content/rabitca.html -->
                    <!--//= content/kirpich.html -->
                   <!--//= content/price.html -->
                     <!--//= content/portfolio.html -->
                    //= content/contact.html
                    <!--//= content/main.html-->



        </div>
    </div>
</div>