<div class="container">
    <div class="bg col-md-12 col-md-offset-1">
        <div class="row">
            <div class="col-md-3 navigation">
                <ul>
                    <li><a href='derevo.html'>Деревянные</a></li>
                    <li><a href='prof.html'>Профнастил</a></li>
                    <li><a href='rabitca.html'>Рабица</a></li>
                    <li><a href='kirpich.html'>Кирпич</a></li>
                </ul>

            </div>


                     <!--//= content/derevo.html -->
                     <!--//= content/prof.html-->
                   <!--//= content/rabitca.html -->
                    //= content/kirpich.html
                   <!--//= content/price.html -->
                     <!--//= content/portfolio.html -->
                    <!--//= content/contact.html-->
                    <!--//= content/main.html-->



        </div>
    </div>
</div>