<div class="container">
    <div class="bg col-md-10 col-md-offset-1">
        <div class="row">
            <div class="col-md-5">Наши контакты: + 7 (495) 555-5555</div>
            <div class="col-md-4">Москва, Походный проезд, 23</div>
            <div class="col-md-3 plus">

                <script type="text/javascript">(function() {
                    if (window.pluso)if (typeof window.pluso.start == "function") return;
                    if (window.ifpluso==undefined) { window.ifpluso = 1;
                        var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                        s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
                        s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
                        var h=d[g]('body')[0];
                        h.appendChild(s);
                    }})();</script>
                <div class="pluso" data-background="transparent" data-options="medium,round,line,horizontal,nocounter,theme=04" data-services="vkontakte,odnoklassniki,facebook"></div>


            </div>
        </div>
    </div>
</div>