<div class="container">

    <div class="bg col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0">

        <div class="slider row">
            <div class="col-md-10 col-sm-12 slider-wrap">
                //= content/slider.html
            </div>

        </div>
        <div class="row head">
            <div class="col-lg-5 col-md-12">
                <a href="http://localhost:9000/">
                <h1>Заборы<span><br>изготовление и монтаж </span></h1>
                </a>
            </div>
            <div class="col-lg-3 col-md-12 phones">

                <div class="bg-phones ">
                    <span>+7(495)<b>555-5555</b></span>
                </div>

            </div>
            <div class="col-lg-3 mail col-md-12">


                <div class="bg-phones ">
                    <span>zakaz@zabor.ru</span>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-lg-4 col-mg-12 rows">
                <span class="time">ЧАСЫ РАБОТЫ <br> ПН-ПТ <br> 10:00-20:00</span>
            </div>
        </div>
        <div class="row">

        </div>

    </div>
</div>