<div class="col-md-7 text">
    <p><b>Деревянный забор</b> из штакетника – это оградительная конструкция, изготовленная из деревянных
        планок, досок, брусьев, щитов, штакетника, которые поддаются специальной обработке
        и соединяются различными способами.
    </p>

    <p>
        Одним из элементов дощатых ограждений может служить металлический каркас, состоящий из вбитых в грунт столбов
        и деревянных горизонтальных или металлических лаг (брусьев). Металл и дерево обязательно подвергается антикоррозийной обработке грунтом, пропиткой (Пинотекс) или специальными антикоррозийными красками, что говорит об обеспечении беспроблемной эксплуатации забора длительное время.

    </p>

    <b>Причины популярности деревянных ограждений:</b>
    <ul>
        <li> применяемые современные технологии обработки древесины;</li>
        <li> улучшение эксплуатационных характеристик подготовленного
            к использованию материала из древесины;
        </li>
        <li>создание потрясающих по красоте и уникальности дизайнерских решений за счет огромного выбора различных пород деревьев.</li>
    </ul>


</div>