<div class="col-md-7 text">
    <div class="grid-items" >
        <i  class="grid-item grid-item-image1">
            

        </i>
        <i  class="grid-item grid-item-big grid-item-image2">

        </i>
        <i  class="grid-item grid-item-big grid-item-image3">

        </i>
        <i  class="grid-item grid-item-image4">

        </i>
        <i  class="grid-item grid-item-image5">

        </i>
        <i  class="grid-item grid-item-image6">


        </i>
        <i class="grid-item grid-item-image7">

        </i>
    </div>


</div>