<div class="col-md-7 text">
    <h2>Расчитать стоимость</h2>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#derevo" data-toggle="tab">Дерево</a></li>
        <li><a href="#prof" data-toggle="tab">Профнастил</a></li>
        <li><a href="#rabitca" data-toggle="tab">Рабица</a></li>
        <li><a href="#kirpich" data-toggle="tab">Кирпичный забор</a></li>
    </ul>

    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="derevo">
            //= price/price_derevo.html
        </div>
        <div class="tab-pane fade" id="prof">
            //= price/price_prof.html
        </div>
        <div class="tab-pane fade" id="rabitca">
            //= price/price_rabitca.html
        </div>
        <div class="tab-pane fade" id="kirpich">
            //= price/price_kirpich.html
        </div>
    </div>
</div>