<div class="col-md-7 text">
    <p><b>Забор из профнастила – </b>это прочное и эстетичное металлическое ограждение, дающее надежную защиту не только
        от несанкционированного проникновения, но и от посторонних глаз.
    </p>

    <p>
        Основу такого ограждения составляет металлокаркас – вертикальные металлические столбы и горизонтальные профильные трубы по верху и низу, соединенные сваркой. На готовый каркас закрепляется профлист, представляющий собой тонкое стальное полотно гофрированной фактуры.
    </p>

    <p>Толщина профнастила, используемого для заборов, составляет
        0,45 или 0,5мм, высота – 2000ммм, ширина от 1150 до 2000мм.
        При необходимости изготовить ограждение ниже двух метров профлист отрезается до нужной высоты.  Его цвет может быть абсолютно любым.</p>


</div>