<div class="col-md-7 text">
    <p><b>Забор из сетки рабицы – </b> это ограждение секционного типа, основу конструкции которого составляют
        рамы из
        металлического профиля
        с натянутой на них сеткой рабицей. Этот популярный материал изготавливается из обычной или оцинкованной проволоки, полученной из высококачественной низкоуглеродистой стали. Иногда с целью дополнительной защиты от коррозии владельцы покрывают
        ее порошковой краской.
    </p>

    <p>
        В последнее время особым спросом пользуется рабица с цветным полимерным покрытием, которое гарантирует ее повышенную стойкость к любым атмосферным явлениям. Помимо антикоррозионных свойств и способа обработки виды сетчатого полотна между собой отличаются диаметром проволоки, размерами ячеек, а также способом скрепления – плетением или точечной сваркой.
    </p>


</div>