<form class="form-horizontal">
    <fieldset>
        <br>

        <div class="form-group">
            <label for="length" class="col-lg-5 control-label">Длина:</label>

            <div class="col-lg-5">
                <input type="text" class="form-control" id="length" placeholder="Общая длина в метрах">
            </div>
        </div>
        <div class="form-group">
            <label for="step" class="col-lg-5 control-label">Шаг столбов:</label>

            <div class="col-lg-5">
                <select class="form-control" id="step">
                    <option value="1">1м</option>
                    <option value="2">2м</option>
                    <option value="3">3м</option>
                    <option value="4">4м</option>
                    <option value="5">5м</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="higth" class="col-lg-5 control-label">Высота забора:</label>

            <div class="col-lg-5">
                <select class="form-control" id="higth">
                    <option value="1.8">1,8м</option>
                    <option value="2.0">2,0м</option>
                    <option value="2.2">2,2м</option>
                    <option value="2.5">2,5м</option>
                    <option value="3.0">3,0м</option>
                    <option value="4.0">4,0м</option>
                    <option value="5.0">5,0м</option>
                </select>

            </div>
        </div>

        <div class="form-group">
            <label for="material" class="col-lg-5 control-label">Тип профлиста:</label>

            <div class="col-lg-5">
                <select class="form-control" id="material">
                    <option>Полиэстр С8 0,3 см (цветной)</option>
                    <option>Полиэстр С8 0,4 см (цветной)</option>
                    <option>Полиэстр С8 0,5 см (цветной)</option>
                    <option>Полиэстр С8 0,6 см (цветной)</option>

                </select>

            </div>
        </div>

        <div class="form-group">
            <label for="lagicol" class="col-lg-5 control-label">Кол-во горизонталей:</label>

            <div class="col-lg-5">
                <select class="form-control" id="lagicol">
                    <option>Лаги в 2 ряда (сверху и снизу)</option>
                    <option>Лаги в 3 ряда</option>
                    <option>Лаги в 4 ряда</option>
                    <option>Лаги в 5 рядов</option>
                </select>

            </div>
        </div>

        <div class="form-group">
            <label for="stolb" class="col-lg-5 control-label">Столбы размер:</label>

            <div class="col-lg-5">
                <select class="form-control" id="stolb">
                    <option>6х6 см</option>
                    <option>8х8 см</option>
                    <option>10х10 см</option>
                    <option>12х12 см</option>
                    <option>12х5 см</option>
                </select>

            </div>
        </div>

        <div class="form-group">
            <label for="lagid" class="col-lg-5 control-label">Лаги размер:</label>

            <div class="col-lg-5">
                <select class="form-control" id="lagid">
                    <option>4х2,5 см</option>
                    <option>4х3 см</option>
                    <option>4х4 см</option>
                    <option>4х5 см</option>
                    <option>5х5 см</option>
                </select>

            </div>
        </div>

        <div class="form-group">
            <label for="vorota" class="col-lg-5 control-label">Количество ворот:</label>

            <div class="col-lg-5">
                <select class="form-control" id="vorota">
                    <option>Без ворот</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>

            </div>
        </div>

        <div class="form-group">
            <label for="kalitka" class="col-lg-5 control-label">Количество калиток:</label>

            <div class="col-lg-5">
                <select class="form-control" id="kalitka">
                    <option>Калитка встоена в ворота</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>

            </div>
        </div>


        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-primary">Расчитать</button>
            </div>
        </div>
    </fieldset>
</form>