.section_1
	.bg
		//background-image: url(../img/bg.png)
		//background-repeat: no-repeat
		padding: 0 0 0 25px

		position: relative

	h1
		line-height: 18px
		//margin-bottom: 50px
		font-size: 64px


		span
			font-size: 24px
			font-family: $verdana
			color: $text-color-blue
			text-shadow: -1 -1 6px white

	.head

		text-align: center
		position: absolute
		top: 25px
		width: 100%
		//left: 50%
		//transform: translateX(-50%)


	.phones
		text-align: center
		margin-bottom: 20px
		.bg-phones
			min-width: 220px
			background-color: #fff
			padding: 3px 0
			border-radius: 8px
			opacity: 0.8
			color: $color-red
			text-align: center
			b
				font-size: 20px

	.mail
		@extend .phones
		.bg-phones
			padding-top: 5px
			padding-bottom: 5px


		text-align: left
	.time
		background-color: #fff
		border-radius: 8px
		padding: 10px
		text-align: center
		color: $text-color-blue
		display: inline-block
		width: 180px
		opacity: 0.8
		margin-top: 55%





	.slider

		margin-top: -25px
		margin-left: -40px
		position: relative
		.slider-wrap
			//padding-right: 140px
			//position: absolute
		h2
			text-align: left
			color: white









